/*.document p {
    font-size:          0.9rem;
    line-height:        1.45em;
}

/*.document ul, .document p {
    margin-top:         6px;
    margin-bottom:      6px;
}

.toctree-wrapper {
    font-size:          medium;
}

.toctree-wrapper .toctree-l1 ul li>ul {
    margin-top:         6px;
    margin-bottom:      6px;
}
*/

table.tight-table thead th, 
table.tight-table tbody td {
    padding:            4px 8px; 
}

table.tight-table td>p {
    line-height:        0.95rem;
    font-size:          0.8rem;
}

table.tight-table th>p {
    line-height:        1rem;
    font-size:          0.85rem;
    font-weight:        bold;
}

table.tight-table td>p,
table.tight-table th>p {
    margin-bottom:      0.1rem;
}

.fix-width-table td {
    white-space:        normal !important;
}

table.project-man-doc-markdown-table-output td:first-child {
    text-align: right  !important;
}

table.project-man-doc-markdown-table-output td:nth-child(2) {
    text-align: center !important;
}

table.project-man-doc-markdown-table-output td:nth-child(3) {
    text-align: left  !important;
}

table.project-man-doc-markdown-table-output th:first-child {
    text-align: right  !important;
}

table.project-man-doc-markdown-table-output th:nth-child(2) {
    text-align: center !important;
}

table.project-man-doc-markdown-table-output th:nth-child(3) {
    text-align: left  !important;
}